.container {

  display: grid;
  grid-template-columns: [leftc]auto [centerc-l]600px[centerc-r] auto[rightc];
  grid-template-rows: [leftr]9% [centerr-l]91%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: stretch;
  height: 100%;
  width: 100%;
  min-width: 700px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.795);
  grid-template-areas: "header header header"
                         ". main ."
}
.header {

  border-bottom-color: rgba(0, 0, 0, 0.596);
  border-bottom-width: 3px;
  border-bottom-style: groove;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  z-index: 1;
  grid-area: header;
  background-color: rgb(242, 252, 110);
}
.header-c {

  z-index: 2;
  grid-row: leftr/centerr-l;
  grid-column: centerc-l/centerc-r;
}
.main {

  position: static;
  display: flex;
  flex-direction: column;
  z-index: 2;
  overflow-y: auto;
  overflow-x: hidden;
  grid-area: main;
  -ms-overflow-style: none;
}
.main::-webkit-scrollbar {

  display: none;
}
.footer {

  border-top-color: rgba(0, 0, 0, 0.596);
  border-top-width: 3px;
  border-top-style: groove;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  background-color: rgb(242, 252, 110);
  min-height: 8%;
}
.post {

  border-color: rgba(104, 0, 0, 0.37);
  border-width: 3px;
  border-style: double;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  position: relative;
  margin-block-start: 10px;
  margin-block-end: 10px;
  min-width: 300px;
  max-width: 600px;
  min-height: fit-content;
  border-radius: 7px;
  background-color: rgba(249, 255, 172, 0.836);
}
.textAndButtonsImage {

  box-sizing: border-box;
  vertical-align: top;
  display: inline-flex;
  flex-direction: column;
  width:55%;
  position: relative;
  margin: 8px;
  padding: 5px;
  height: auto;
}
.textAndButtons {

  vertical-align: top;
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: 90%;
  max-width: 90%;
  margin: 5px;
  min-height: fit-content;
  height: 90%;
}
.text {

  box-sizing: border-box;
  vertical-align: top;
  display: inline-flexbox;
  padding: 3px;
  word-break: initial;
  min-height: 120px;
  margin: 5px;
}
.photo {

  padding: 3px;
  vertical-align: top;
  display: inline-flex;
  position: relative;
  vertical-align: top;
  height: 100%;
  width: 40%;
}
.post-photo {

  position: relative;
  border-radius: 7px;
  margin: 3px;
  align-self: center;
  width: 96%;
}
.buttons {

  position: relative;
  box-sizing: border-box;
  vertical-align: top;
  display: inline-flexbox;
  padding: 3px;
  word-break: break-all;
  height: auto;
  margin: 5px;
}